<div class="nav__leftSide">
    <div class="nav__icons">
        <i class="fas fa-code nav__icon"></i>
    </div>
    <div class="nav__logo">
        <h1 class="nav__h1"><span class="nav__code">Code</span><span class="nav__acad">Academy</span></h1>
    </div>
    
</div>
<div class="nav__middle">
    <ul class="nav__ul">
        <li class="nav__li"><a class="nav__link" href="/">Home</a></li>
        <li class="nav__li"><a class="nav__link" href="/courses">Courses</a></li>
        <li class="nav__li"><a class="nav__link" href="/aboutus">About Us</a></li>
        <li class="nav__li"><a class="nav__link" href="/contact">Contact Us</a></li>
        <li class="nav__li"><a class="nav__link nav__active" href="/register">Register</a></li>
        <li class="nav__li"><a class="nav__link" href="/login">Login</a></li>
    </ul>
</div>