<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <title>New Password</title>
</head>
<body>
    <div class="login-wrap">
        <div class="login-html">
            <div class="login-form">
                <form action="/newpassword" method="POST">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">New Password</label>
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                        <input id="user" type="password" class="input" name="password">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>