<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <title>Forgot Password</title>
</head>
<body>
    <div class="login-wrap">
        <div class="login-html">
            <div class="login-form">
                <form action="/reset" method="POST">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Email</label>
                        <input id="user" type="email" class="input" name="email">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>