<div class="nav__container">
    <div class="nav__logo">
        <h1 class="nav__h1"><span class="nav__connect">Connect</span><span class="nav__now">Now</span>.gr</h1>
    </div>
    <div class="nav__links">
        <ul class="nav__ul">
            <li class="nav__li"><a class="nav__link" href="/">Home</a></li>
            <li class="nav__li"><a class="nav__link" href="/">Find Us</a></li>
            <li class="nav__li"><a class="nav__link nav__active" href="/">Register</a></li>
            <li class="nav__li"><a class="nav__link" href="/login">Login</a></li>
        </ul>
    </div>
</div>