<div class="container__centerContainer">
    <div class="container__centerCard">
        <div class="container__centerImage">
            <img src="https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fHNlcnZlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="container__centerImg">
        </div>
        <div class="container__centerHeader">
            <h3 class="container__centerH3">Title</h3>
        </div>
        <div class="container__centerDescription">
            <p class="container__centerP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, 
                vel incidunt voluptates eos deleniti ullam ad animi inventore suscipit odit, 
                repellendus molestiae? Illum iste magni, consequatur beatae atque dolore culpa.</p>
        </div>
    </div>
</div>