<div class="container__leftSideContainer">
    <div class="container__leftSideCard">
        <div class="container__leftSideImage">
            <img src="/images/nathan-dumlao-kEOLkJksbc8-unsplash.jpg" class="container__leftSideImg">
        </div>
        <div class="container__leftSideHeader">
            <h3 class="container__leftSideH3">Title</h3>
        </div>
        <div class="container__leftSideDescription">
            <p class="container__leftSideP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, 
                vel incidunt voluptates eos deleniti ullam ad animi inventore suscipit odit, 
                repellendus molestiae? Illum iste magni, consequatur beatae atque dolore culpa.</p>
        </div>
    </div>
</div>