<div class="ref__container">
    <div class="ref__follow">
        <i class="fab fa-facebook fa-2x ref__icon"></i>
        <i class="fab fa-instagram fa-2x ref__icon"></i>
        <i class="fab fa-linkedin-in fa-2x ref__icon"></i>
        <i class="fas fa-envelope fa-2x ref__icon"></i>
    </div>
    <div class="ref__newsletter">
        <input class="ref__input" type="email" name="newsLetterEmail" placeholder="Register to our newsletter">
        <button class="ref__button"><i class="fas fa-paper-plane fa-2x ref__iconButton"></i></button>
    </div>
</div>