<div class="login__container">
    <div class="login__row">
        <div class="login__column">
            <div class="login__texts">
                <div class="login__logo">
                    <h1 class="login__h1"><span class="login__span1">Fatse</span>B<span class="login__span2">oo</span>k</h1>
                    <h2 class="login__h2">Welcome to FatseBook, please register or, </h2>
                    <h2 class="login__h2">log in with your credentials in order to proceed!</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="login__row">
        <div class="login__column">
            <form class="login__form" action="/login" method="POST">
            <div class="login__card">
                <input class="login__input login__input1" type="email" placeholder="Please write your email" name="username">
                <input class="login__input login__input2" type="password" placeholder="Please write your password" name="password">
                <div class="login__button">
                    <button type="submit" class="login__btn">Login</button>
                </div>
                <div class="login__forgot">
                    <h5 class="login__h5"><a class="login__link" href="">Forgot password</a></h5>
                </div>
                <hr class="login__hr">
                <div class="login__button2">
                <button type="button" id="register" class="login__btn2">Register new account</button>
            </div>
            </div>
            </form>
        </div>
    </div>
</div>