<div class="nav__container">
    <div class="nav__container-left">
    <div class="nav__logo-side">
        <a href="/"><i class="fas fa-home nav__icon-logo"></i></a>
        <h2 class="nav__h2">FatseBook</h2>
    </div>
    <div class="nav__icons-side">
        <i class="fas fa-user-alt nav__icon"></i>
        <i class="fas fa-bell nav__icon"></i>
        <i class="fas fa-comment-dots nav__icon"></i>
        <i class="fas fa-newspaper nav__icon"></i>
        <form action="/search" method="POST">
            <button type="submit"><i class="fas fa-search"></i>
            </button>
        <input type="text" name="search">
    </form>
    </div>
    </div>
    <div class="nav__container__right">
        <div class="nav__profile-avatar">
            <i class="fas fa-user-tie nav__icon"></i>
        </div>
    </div>
</div>