*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/brandi-redd-aJTiW00qqtI-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.container{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 200px;
    color: wheat;
}