<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Create your first post</title>
</head>
<body>
    <div class="container__posts-container">
        <div class="container__posts-card">
            <div class="container__posts-header">
                <h4 class="container__posts-h4">Share your thougths</h4>
            </div>
            <form action="/firstpost" method="POST">
            <div class="container__posts-post-input">
                <input class="container__posts-input" type="text" name="description" placeholder="Write your post...">
            </div>
            <div class="container__posts-button">
                <button class="container__posts-btn">Post it!</button>
            </div>
        </form>
        </div>
    </div>
</body>
</html>