<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../partials/head"); %>
</head>
<body>
<div class="login">
<%- include("../partials/login.ejs"); %>
</div>
<div id="register-form" class="register">
<%- include("../partials/register.ejs"); %>
</div>
<script src="/js/registerForm.js"></script>
</body>
</html>