<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6f9fb28277.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/axiosGetStudents.js"></script>
    <link rel="stylesheet" href="css/adminstudents.css">
    <title>Admin Page</title>
</head>
<body>
    <div class="container">
        <div class="admin__leftSide">
            <div class="admin__leftHeader">
                <div class="nav__icons">
                    <i class="fas fa-code nav__icon"></i>
                </div>
                <div class="nav__logo">
                    <h1 class="nav__h1"><span class="nav__code">Code</span><span class="nav__acad">Academy</span></h1>
                </div>
            </div>
            <div class="admin__selections">
                <div class="adminDashboard">
                    <h3 class="admin__h3"><a class="admin__link" href="/admin">Dashboard</a></h3>
                </div>
                <div class="admin__secStudents">
                    <h3 class="admin__h3"><a class="admin__link" href="/adminstudents">Students</a></h3>
                </div>
                <div class="admin__secCourses">
                    <h3 class="admin__h3"><a class="admin__link" href="/admincourses">Courses</a></h3>
                </div>
                <div class="admin__secTrainers">
                    <h3 class="admin__h3"><a class="admin__link" href="/admintrainers">Trainers</a></h3>
                </div>
                <div class="admin__secAssingments">
                    <h3 class="admin__h3"><a class="admin__link" href="/adminass">Assingments</a></h3>
                </div>
                <div class="admin__secHome">
                    <h3 class="admin__h3"><a class="admin__link" href="/home">Home</a></h3>
                </div>
                <div class="admin__secLogout">
                    <h3 class="admin__h3"><a class="admin__link" href="/logout">Logout</a></h3>
                </div>
            </div>
        </div>
        <div class="admin__rightSide">
            <div id="con" class="getStu">
                <h2 id="p1" class="getStuH1">Find All Students</h2>
                <button type="button" onclick="fetchStudents()" id="findStudents" class="findStuBtn">Find</button>
                <form action="/getstudents" method="GET">
                                       
                </form>

                <form action="/getUpdateStudents" method="POST">
                    <%for(datas of data){%>
                    <input type="hidden" name="studentId" value="<%=datas.studentId%>">
                    <%}%>
                </form>
                <div id="app"></div>
                <div class="update">
                </div>
            
            </div>
            <hr class="admin__hr">
            <div class="postStu">
                <h2 class="postStuH2">Insert a new student</h2>
                <form action="/postStudents" method="POST">
                <input type="hidden" name="studentId">
                <div class="postStuFirstname">
                <input type="text" name="firstname" placeholder="Firstname">
                </div>
                <div class="postStuLastname">
                <input type="text" name="lastname" placeholder="lastname">
                </div>
                <div class="postStuDateOfBirth">
                <input type="date" name="dateOfBirth" placeholder="BirthDate">
                </div>
                <div class="postStuTution">
                <input type="text" name="tuitionFees" placeholder="Tuition Fees">
                </div>
                <div class="postStuButton">
                    <button id="postBtn" type="submit" class="postStuBtn">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>