.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/magdalena-smolnicka-P2fRnPdh_pA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

.headerTitle{
    margin-bottom: 5rem;
}

.title{
    color: whitesmoke;
    font-size: 3rem;
}

.headerContainer{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.searchSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.address{
    padding: 15px;
    padding-right: 7rem;
}

.apo, .mexri{
    padding: 12.5px;
}

select{
    padding: 14px;
}

.title{
    text-align: center;
}

input{
    border-radius: 2px;
    margin-right: 0.1rem;
}

button{
    padding: 16px;
    padding-right: 4rem;
    padding-left: 4rem;
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
    border: none;
    border-style: none;
    background: none;
    background-color: blue;
}

