<div class="aside__container">
    <div class="aside__row">
        <div class="aside__column">
            <img class="aside__img" src="" alt="" srcset="">
            <h3 class="aside__h3">Cats</h3>
            <p class="aside__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit hic amet atque modi mollitia, rem doloremque perspiciatis neque vel! Quaerat, ad? Natus officia ipsum animi ipsam quisquam fugit blanditiis velit.</p>
        </div>
    </div>
</div>
<div class="aside__container">
    <div class="aside__row">
        <div class="aside__column">
            <img class="aside__img" src="" alt="" srcset="">
            <h3 class="aside__h3">Cats</h3>
            <p class="aside__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit hic amet atque modi mollitia, rem doloremque perspiciatis neque vel! Quaerat, ad? Natus officia ipsum animi ipsam quisquam fugit blanditiis velit.</p>
        </div>
    </div>
</div>
<div class="aside__container">
    <div class="aside__row">
        <div class="aside__column">
            <img class="aside__img" src="" alt="" srcset="">
            <h3 class="aside__h3">Cats</h3>
            <p class="aside__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit hic amet atque modi mollitia, rem doloremque perspiciatis neque vel! Quaerat, ad? Natus officia ipsum animi ipsam quisquam fugit blanditiis velit.</p>
        </div>
    </div>
</div>

