<div class="aside2__container">
    <div class="aside2__row">
        <div class="aside2__column">
            <img class="aside2__img" src="" alt="" srcset="">
            <h3 class="aside2__h3">Cats</h3>
            <p class="aside2__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit hic amet atque modi mollitia, rem doloremque perspiciatis neque vel! Quaerat, ad? Natus officia ipsum animi ipsam quisquam fugit blanditiis velit.</p>
        </div>
    </div>
</div>
<div class="aside2__container">
    <div class="aside2__row">
        <div class="aside2__column">
            <img class="aside2__img" src="" alt="" srcset="">
            <h3 class="aside2__h3">Cats</h3>
            <p class="aside2__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit hic amet atque modi mollitia, rem doloremque perspiciatis neque vel! Quaerat, ad? Natus officia ipsum animi ipsam quisquam fugit blanditiis velit.</p>
        </div>
    </div>
</div>
<div class="aside2__container">
    <div class="aside2__row">
        <div class="aside2__column">
            <img class="aside2__img" src="" alt="" srcset="">
            <h3 class="aside2__h3">Cats</h3>
            <p class="aside2__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit hic amet atque modi mollitia, rem doloremque perspiciatis neque vel! Quaerat, ad? Natus officia ipsum animi ipsam quisquam fugit blanditiis velit.</p>
        </div>
    </div>
</div>

