    <div class="top-posts__container">
        <div class="top-posts__row">
            <div class="top-posts__column">
                <img class="top-posts__img" src="./images/karsten-winegeart-5PVXkqt2s9k-unsplash.jpg" alt="">
                <h3 class="top-posts__h3">Dogs</h3>
                <p class="top-posts__p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias minima omnis id perferendis harum laudantium rerum beatae, dolores aut incidunt doloribus aliquam commodi, recusandae nobis? Assumenda quas veritatis dolore eaque!</p>
            </div>
            <div class="top-posts__column">
                <img class="top-posts__img" src="./images/karsten-winegeart-5PVXkqt2s9k-unsplash.jpg" alt="">
                <h3 class="top-posts__h3">Dogs</h3>
                <p class="top-posts__p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias minima omnis id perferendis harum laudantium rerum beatae, dolores aut incidunt doloribus aliquam commodi, recusandae nobis? Assumenda quas veritatis dolore eaque!</p>
            </div>
            <div class="top-posts__column">
                <img class="top-posts__img" src="./images/karsten-winegeart-5PVXkqt2s9k-unsplash.jpg" alt="">
                <h3 class="top-posts__h3">Dogs</h3>
                <p class="top-posts__p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias minima omnis id perferendis harum laudantium rerum beatae, dolores aut incidunt doloribus aliquam commodi, recusandae nobis? Assumenda quas veritatis dolore eaque!</p>
            </div>
        </div>
    </div>
 
 


    

