<div class="footer__container">
    <div class="footer__row">
        <div class="footer__column">
            <h1 class="footer__h1">Create by Alex for testing purposes</h1>
        </div>
    </div>
</div>