<div class="nav__container">
        <div class="nav__row">
            <div class="nav__logo">
                <h1 class="nav__h1">dogGav Blog</h1>
            </div>
            <div class="nav__navigation">
                <ul class="nav__ul">
                    <li class="nav__li"><a class="nav__link nav__active" href="./">Home</a></li>
                    <li class="nav__li"><a class="nav__link" href="">About Us</a></li>
                    <li class="nav__li"><a class="nav__link" href="http://">Contact Us</a></li>
                    <li class="nav__li"><a class="nav__link" href="./register">Register</a></li>
                    <li class="nav__li"><a class="nav__link" href="./login">Log in</a></li>
                </ul>
            </div>
        </div>
</div>
