*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-image: url(../images/glen-carrie-LfviizMGKaE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100vw;
    padding-bottom: 20rem;

    &__h1{
        color: whitesmoke;
        text-align: center;
        font-size: 5rem;
    }
}

.main{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    &__flag{
        margin-top:1rem;
    }

    &__h1{
        margin-top: 1rem;
        text-align: center;
        font-size: 2.5rem;
    }
    &__h1-c{
        margin-top: 1rem;
        text-align: center;
        font-size: 2.5rem;
        color: blue;
    }
    &__h1-d{
        margin-top: 1rem;
        text-align: center;
        font-size: 2.5rem;
        color: red;
    }
    &__h1-rec{
        margin-top: 1rem;
        text-align: center;
        font-size: 2.5rem;
        color: green;
    }
    &__h2{
        color: grey;
        text-align: center;
        font-size: 2rem;
    }
}

.footer{
    background-color: black;
    margin-top: 1rem;

    &__h4{
        color: whitesmoke;
        text-align: center;
    }
}
