.navContainer{
    background-color: black;
}

.navIcon{
    color: white;
    margin: 1rem 1rem;
}

.navIconSearch{
    color: white;
    margin: 1rem 1rem;
}

.navRow{
    display: flex;
    justify-content: space-between;
}