.tags{
    margin-top: 3rem;
    box-shadow: 5px 5px 5px 5px;
    background-color: white;
}

.tagsHeader{
    background-color: black;
    padding-bottom: 2rem;
}

.tagsH3{
    color: white;
    padding: 1rem 1rem;
}

.tagsTags{
    display: flex;
    flex-direction: column;
}

.tagsTagsRow{
    display: flex;
    
}

.tagsTagsColumn{
    display: flex;
    flex-direction: row;
}

.tagsH5{
    padding: 1rem 1rem;
}