    <div class="details__container">
        <div class="details__row">
            <div class="details__column">
                <div class="details__img-cont">
                    <img class="details__img" src="./images/misha-feshchak-syCXK9WndqQ-unsplash.jpg" alt="">
                </div>
            </div>
            <div class="details__column">
                <div class="details__texts">
                    <h2 class="details__h1">Ανεξάρτητα τον πάροχο</h2>
                    <hr class="details__hr">
                    <p class="details__p">Ανεξάρτητα τον πάροχο σου, ερχόμαστε στον χώρο σου και αποκαθιστούμε οποιαδήποτε βλάβη του internet στο δίκτυο σου.</p>
                </div>
            </div>
        </div>
        <div class="details__row">
            <div class="details__column details__column2">
                <div class="details__texts">
                    <h2 class="details__h1">24, 50, 100 ή μήπως 200 Mbps;</h2>
                    <hr class="details__hr">
                    <p class="details__p">Όποια και αν είναι η ταχύτητα της σύνδεσης σου, αποκαθιστούμε βλάβες σε δίκτυα VDSL και ADSL σε υπηρεσίες LLU, VPU Light, FTTC, FTTH.</p>
                </div>
            </div>
            <div class="details__column details__column2">
                <div class="details__img-cont">
                    <img class="details__img2" src="./images/stephen-phillips-hostreviews-co-uk-tN344soypQM-unsplash.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
