    <div class="episkepsi__container">
        <div class="episkepsi__row">
            <div class="episkepsi__column">
                <div class="episkepsi__texts">
                    <h2 class="episkepsi__h1">Κλείσε τώρα την επίσκεψη σου</h2>
                    <hr class="episkepsi__hr">
                    <p class="episkepsi__p">Μην περιμένεις άλλο, κάλεσε μας τώρα και μέσα σε λίγες ώρες θα είμαστε στον χώρο σου, για να σου φτιάξουμε την βλάβη <br>Με την connectnow, κανείς δεν έχασε!!</p>
                    <p class="episkepsi__p"><span class="episkepsi__span"> Η connectnow εξυπηρετεί μόνο εντός αττικής </span></p>
                </div>
            </div>
        </div>
    </div>
