    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__column">
                <div class="footer__texts">
                    <h2 class="footer__h1">Connectnow</h2>
                    <hr class="footer__hr">
                    <p class="footer__p">Στην connectnow, κάνουμε ό,τι είναι δυνατό για να έχετε γρήγορο και αξιόπιστο internet.<br> Δεν χρειάζεται να περιμένεις τον πάροχο σου. Κάλεσε μας και οι τεχνικοί μας θα σε εξυπηρετήσουν λύνοντας γρήγορα την βλάβη στο internet σου.</p>
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__texts">
                    <h2 class="footer__h1">Επικοινώνησε μαζί μας</h2>
                    <hr class="footer__hr">
                   <ul class="footer__ul">
                       <li class="footer__li"><i class="fab fa-viber fa-1x"><span><a class="footer__link" href="viber://chat?number=+306937268740">+30 693 72 68 740</a></span></i></li>
                       <li class="footer__li"><i class="fas fa-envelope fa-1x"><span>info@connectnow.gr</span></i></li>
                       <li class="footer__li"><i class="fab fa-facebook fa-1x"><span><a class="footer__link" href="https://www.facebook.com/connectnow.gr/" target="https://www.facebook.com/connectnow.gr/">Connectnow on facebook</a></span></i></li>
                   </ul>
                </div>
            </div>
            <div class="fb-customerchat"
            page_id="<PAGE_ID>">
            </div>
        </div>
    </div>
