
    <div class="header__container">
    <div class="header__texts-top">
        <h1 class="header__h1">Έχεις αργό internet;</h1>
        <hr class="header__hr">
    </div>
    <div class="header__texts-center">
        <p class="header__p">Είμαστε εδώ για να στο λύσουμε!!<br> Καλώς ήρθες στην <span class="header__connect">connect</span><span class="header__now">now</span></p>
    </div>
    <div class="header__buttons">
        <button class="header__button"><a class="header__button-link" href="#contact">Κλείσε την επίσκεψη σου</a></button>
        <button class="header__button2"><a class="header__button-link" href="#whoweare">Μάθε περισσότερα</a></button>
    </div>
</div>
