    <div class="nav__container">
        <div id="logo" class="nav__logo"><img class="nav__logo-img" src="./images/connect.png" alt=""></div>
        <div id="list" class="nav__list">
            <i id="menu" class="fas fa-bars nav__icon fa-2x"></i>
            <ul id="ul" class="nav__ul">
                <li class="nav__li"><a class="nav__link" href="#home">Home</a></li>
                <li class="nav__li"><a class="nav__link" href="#services">Ποιοί Είμαστε</a></li>
                <li class="nav__li"><a class="nav__link" href="#details">Υπηρεσίες</a></li>
                <li class="nav__li"><a class="nav__link" href="#contact">Κάλεσε μας</a></li>
            </ul>
        </div>
    </div>