    <div class="services__container">
        <div class="services__row">
            <div class="services__column services__column1">
                <div class="services__icon"><i class="fas fa-info fa-3x"></i></div>
                <div class="services__header">
                    <h2 id="whoweare" class="services__h1">Ποιοι είμαστε</h2>
                    <hr class="services__hr">
                </div>
                <div class="services__par">
                    <p id="p1" class="services__p">Η Connect Now είναι μια νεοσύστατη Ελληνική εταιρεία η οποία εξειδικεύεται στην αποκατάστασης βλαβών internet και τηλεφωνίας. Με πολυετή εμπειρία στην αποκατάσταση βλαβών χαλκού , οπτικών ινών, ενσύρματων (LAN) και ασύρματων (WiFi) δικτύων και έχοντας την άρτια τεχνογνωσία στον χώρο, ικανοποιεί τις ανάγκες όλων των πελατών της ,εταιρικούς και οικιακούς (ανεξάρτητα τον πάροχο) σε χρονικό διάστημα έως και λιγότερο των 24 ωρών απ' την στιγμή που θα ενημερωθούμε για την βλάβη. Στόχος μας η άμεση πρόσβαση και η σωστή χρήση του δικτύου όλων και πάνω από όλα, προς όφελος των πελατών μας.</p>
                </div>
                <div class="services__buttons">
                    <button id="button1" class="services__button">Details</button>
                </div>
            </div>
            <div class="services__column services__column2">
                <div class="services__icon"><i class="fas fa-network-wired fa-3x"></i></div>
                <div class="services__header">
                    <h2 class="services__h1">Δωρεάν επίσκεψη στον χώρο σας!!!</h2>
                    <hr class="services__hr">
                </div>
                <div class="services__par">
                    <p id="p2" class="services__p">Κάθε ανάγκη έχει τον δικό της χαρακτήρα και κάθε βλάβης έχει τον δικό της τρόπο επίλυσης. Σεβόμενοι τις ανάγκες όλων και ζώντας στην ίδια οικονομική κατάσταση όπως όλοι στην Ελλάδα , η connect now πρωτοπορεί δίνοντας λύσεις στα προβλήματα και εγγύηση στην εργασία μας. Σε περίπτωση όπου κάποια βλάβη δεν αποκατασταθεί κατά την διάρκεια της επίσκεψη μας στον χώρο σας , τότε η επίσκεψη είναι ΔΩΡΕΆΝ!</p>
                </div>
                <div class="services__buttons">
                    <button id="button2" class="services__button">Details</button>
                </div>
            </div>
        </div>
        <div class="services__row">
            <div class="services__column services__column3">
                <div class="services__icon"><i class="fas fa-link fa-3x"></i></div>
                <div class="services__header">
                    <h2 class="services__h1">Ερχόμαστε στον χώρο σας</h2>
                    <hr class="services__hr">
                </div>
                <div class="services__par">
                    <p id="p3" class="services__p">Έχεις ανάγκη να συνδεθείς τώρα στο διαδίκτυο όμως η σύνδεση σου κολλάει και το ίντερνετ σέρνεται; Γνωρίζουμε όλοι μας πως ο χρόνος είναι χρήμα. Κανείς δεν θέλει να σπαταλάει τον χρόνο του στην αναμονή περιμένοντας να εξυπηρετηθεί η ανάγκη και δυστυχώς πολλές φορές δίχως ανταπόκριση. Η Connect Now βάζει πάνω από όλα την ανάγκη του συνδρομητή για άψογη ποιότητα και άμεση σύνδεση στο internet. Ερχόμαστε στον χώρο σε λιγότερο από 24 ώρες ώστε να σας φτιάξουμε το internet. Connect Now για όσους θέλουν να συνδεθούν ΤΏΡΑ χωρίς αναμονή.</p>
                </div>
                <div class="services__buttons">
                    <button id="button3" class="services__button">Details</button>
                </div>
            </div>
            <div class="services__column services__column4">
                <div class="services__icon"><i class="fas fa-check fa-3x"></i></div>
                <div class="services__header">
                    <h2 class="services__h1">Εγγύηση στην εργασία μας</h2>
                    <hr class="services__hr">
                </div>
                <div class="services__par">
                    <p id="p4" class="services__p">Με γνώμονα την σωστή λειτουργία του δικτύου και έχοντας ως δεδομένη την ταχύτητα και την ποιότητα του internet και τηλεφωνίας που παραδίδει ο πάροχος στον κατανεμητή του κτιρίου, επιτυγχάνουμε μηδενικές απώλειες στην εσωτερική καλωδίωση και σε ορισμένες περιπτώσεις έως και 10 φορές πιο γρήγορο internet στον χώρο των πελατών μας.</p>
                </div>
                <div class="services__buttons">
                    <button id="button4" class="services__button">Details</button>
                </div>
            </div>
        </div>
    </div>
