* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  width: 100%; }
  .main__form-cont {
    display: flex;
    justify-content: center; }
  .main__screen {
    justify-content: center;
    text-align: center;
    width: 40vw;
    height: 30%;
    border: 1px solid black; }
  .main__button {
    margin-top: 0.5rem;
    width: 40vw;
    text-align: center;
    justify-self: center;
    justify-content: center;
    display: flex; }
  .main__num-cont {
    display: flex;
    width: 100%; }
  .main__row {
    display: flex;
    width: 130%;
    flex-direction: row; }
  .main__column {
    display: flex;
    flex-direction: row;
    width: 130%; }
  .main__button-num {
    display: flex;
    width: 100%;
    justify-content: space-between; }
