* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-result, .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}

.result__input{
  width: 24rem;
  height: 4rem;
}

button{
  margin: 0.5rem 0.5rem;
  width: 80%;
  background-color: rebeccapurple;
  border-style: none;
  border-radius: 10px;
  height: 3rem;
}