* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(rgba(40, 57, 101, 0.9), rgba(40, 57, 101, 0.9)), url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-size: cover; }

.nav {
  background-color: black; }
  .nav__container {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between; }
  .nav__leftSide {
    display: flex; }
  .nav__icons {
    margin-right: 1rem; }
  .nav__icon {
    color: white; }
  .nav__h3 {
    color: blue; }

.container {
  display: flex;
  position: absolute;
  left: 50%;
  flex-direction: column;
  top: 50%;
  transform: translate(-50%, -50%); }
  .container__plus {
    position: relative;
    right: 2.4rem;
    top: 0.4rem; }
  .container__tickNdelete {
    display: flex; }
  .container__btn {
    outline: none;
    border: none;
    background: none; }

input {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 10rem;
  border-radius: 5%;
  font-size: 0.9rem; }

.newTodo__InputAndIcons {
  display: flex; }

.newTodo__tick1 {
  color: green;
  position: relative;
  left: 0.3rem; }

.newTodo__delete {
  color: red;
  left: 2rem;
  position: relative; }

.newTodo__input {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 10rem;
  border-radius: 5%;
  font-size: 0.9rem; }

.newTodo__inputDelete {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 10rem;
  border-radius: 5%;
  font-size: 0.9rem;
  text-decoration: line-through; }
