*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: black;
}



.nav__btn{
    background-color: rgb(64, 107, 224);
    padding: 15px;
    border-radius: 15px;
    color: white;
    border: none;
    outline-style: none;
}

.nav__h3{
    margin-right: 1rem;
    color: white;
}

.nav__icon{
    margin-right: 0.3rem;
    color: teal;
}

.nav__code{
    color: whitesmoke;
}

.nav__acad{
    color: teal;
}



.container{
    display: flex;
}

.container__img{
    width: 50vw;
    height: 90vh;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    border: none;
}



.container__rightSide{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.container__header{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

input{
    padding: 15px;
    padding-right: 0rem;
    width: 20vw;
    margin-top: 0.1rem;
}

.container__btn{
    padding: 15px;
    color: white;
    background-color: blue;
    border: none;
    width: 20vw;
}

.container__h2{
    color: white;
    margin-bottom: 1rem;
}