* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/dream-pulse-header.jpg);
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  z-index: -1;
  background-attachment: fixed; }
  .header__nav {
    z-index: 100;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    width: 26%;
    height: 100vh;
    position: fixed; }
  .header__active {
    background-color: white;
    width: 10%;
    color: white; }
  .header__nav-text {
    border: 1px solid white;
    width: 60%;
    height: 18%;
    margin-left: 5rem;
    margin-top: 2rem; }
  .header__nav-h1 {
    line-height: 80px;
    margin-top: 15px;
    margin-left: 0.5rem;
    color: white;
    border: 1px solid white;
    height: 100%;
    width: 16rem;
    font-size: 2rem;
    text-align: center; }
  .header__nav-nav {
    margin: 6rem 6rem; }
  .header__nav-ul {
    list-style: none;
    text-align: center; }
  .header__nav-li {
    margin-top: 1rem; }
  .header__nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.3rem; }
  .header__nav-link:hover {
    text-decoration: none;
    color: white;
    font-size: 1.3rem; }
  .header__nav-icon {
    color: white;
    margin-top: 1rem;
    margin-left: 2.5rem; }
  .header__text-container {
    background: linear-gradient(rgba(241, 240, 240, 0.5), rgba(247, 247, 247, 0.5));
    width: 35%;
    height: 50%;
    float: right;
    margin: 3rem 3rem;
    text-align: center;
    border: 1px solid whitesmoke; }
  .header__row {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row; }
  .header__row2 {
    display: flex;
    justify-content: center;
    width: 100%; }
  .header__row-h1 {
    margin: 3rem auto;
    color: blue;
    text-align: center; }
  .header__row2-p {
    color: black;
    text-align: center;
    margin: 1rem auto; }

.main {
  height: 50vh; }
  .main__container {
    margin-left: 27.9rem;
    flex-wrap: wrap;
    display: flex;
    margin-top: 8rem;
    justify-content: flex-end;
    float: right;
    height: 100%; }
  .main__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap; }
  .main__column1 {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: right;
    flex: 1;
    margin: auto 3rem; }
  .main__column2 {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    width: 100%;
    justify-content: right;
    margin: auto 3rem; }
  .main__h1 {
    margin-top: 4rem;
    color: cornflowerblue; }
  .main__p {
    margin-top: 4rem;
    color: grey; }
  .main__p2 {
    margin-top: 3rem;
    color: grey; }
  .main__icon {
    color: blue; }

.ourwork {
  height: 70vh;
  margin-top: 25rem;
  border: 1px solid #c2bfbf;
  margin-left: 27.9rem;
  margin-right: 1rem; }
  .ourwork__h1 {
    text-align: center;
    justify-content: center; }
  .ourwork__container {
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
    margin-left: 0.5rem;
    height: 97%;
    flex-direction: column;
    border: 1px solid #c2bfbf;
    width: 98%;
    flex-wrap: wrap; }
  .ourwork__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap; }
  .ourwork__column {
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem;
    flex-wrap: wrap;
    justify-content: center; }
  .ourwork__dot {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    float: left;
    text-align: center;
    justify-content: center;
    margin-left: 5rem; }

.clients {
  height: 70vh;
  margin-top: 5rem;
  margin-left: 27.9rem;
  margin-right: 1rem; }
  .clients__container-text {
    margin-left: 1rem; }
  .clients__h1 {
    margin-bottom: 3rem; }
  .clients__container-logos {
    margin-top: 4.5rem;
    justify-content: center;
    height: 90%;
    width: 98%; }
  .clients__row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem; }
  .clients__border {
    border: 1px solid #c2bfbf;
    width: 25%;
    margin-left: 1rem; }
  .clients__logo {
    margin: 2rem 1rem;
    line-height: 50%; }

.talk {
  height: 70vh;
  margin-top: 5rem;
  margin-left: 27.9rem;
  margin-right: 1rem; }
  .talk__row {
    display: flex;
    flex-direction: row; }
  .talk__column1 {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-left: 1rem; }
  .talk__texts {
    border: 1px solid #c2bfbf;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 2rem 1rem; }
  .talk__h1 {
    font-size: 1.2rem; }
  .talk__border {
    border: 1px solid #c2bfbf;
    width: 97%;
    height: 96%;
    margin-top: 5px; }
  .talk__column2 {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 3rem;
    flex-wrap: wrap; }
  .talk__input {
    border-style: none;
    border-bottom: 1px solid grey; }
  .talk__textarea {
    border-style: none;
    border-bottom: 1px solid grey; }
  .talk__submit {
    border-style: none;
    border-bottom: 1px solid grey;
    float: center; }

@media screen and (max-width: 469px) {
  .header {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .header__nav {
      display: none; }
    .header__nav-nav {
      display: none; }
    .header__text-container {
      background: linear-gradient(rgba(241, 240, 240, 0.5), rgba(247, 247, 247, 0.5));
      width: 35%;
      height: 50%;
      text-align: center;
      border: 1px solid whitesmoke;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; }
    .header__nav-text {
      margin: 0; }
    .header__nav {
      display: none; }
  .main {
    margin: 0;
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap; }
    .main__container {
      flex-wrap: wrap;
      display: flex;
      margin-top: 8rem;
      flex-direction: row;
      height: 100%;
      margin-left: 0;
      width: 100%; }
    .main__row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
  .ourwork {
    margin: 0;
    margin-left: 0;
    margin-top: 80rem; }
    .ourwork__container {
      flex-wrap: wrap;
      margin: 0;
      margin-left: 0;
      display: flex;
      flex-direction: row; }
    .ourwork__row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
    .ourwork__img {
      object-fit: cover;
      background-size: cover;
      background-position: center;
      flex-wrap: wrap; }
    .ourwork_column {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
  .clients {
    min-height: 100%;
    margin: 0;
    margin-left: 0;
    margin-top: 53rem; }
    .clients__container-logos {
      display: flex;
      flex-direction: row;
      margin: 0;
      margin-left: 0;
      flex-wrap: wrap; }
    .clients__row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
    .clients__border {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap; }
  .talk {
    margin: 0;
    margin-left: 0;
    margin-top: 47rem; }
    .talk__container {
      display: flex; }
    .talk__row {
      display: flex;
      flex-direction: column; }
    .talk__column1 {
      display: flex;
      flex-direction: column;
      flex: 1; }
    .talk__column2 {
      display: flex;
      flex-direction: column;
      flex: 1; } }

@media screen and (min-width: 470px) and (max-width: 900px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .header__nav {
      display: none; }
    .header__nav-nav {
      display: none; }
    .header__text-container {
      background: linear-gradient(rgba(241, 240, 240, 0.5), rgba(247, 247, 247, 0.5));
      width: 35%;
      height: 50%;
      text-align: center;
      border: 1px solid whitesmoke; }
    .header__nav-text {
      margin: 0; }
    .header__nav {
      display: none; }
  .main {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 35rem; }
    .main__container {
      flex-wrap: wrap;
      display: flex;
      margin-top: 8rem;
      flex-direction: column;
      height: 100%;
      margin-left: 0;
      width: 100%; }
    .main__row {
      display: flex;
      flex-direction: column; }
  .ourwork {
    height: 160vh;
    margin: 0;
    margin-left: 0;
    margin-top: 20rem; }
    .ourwork__container {
      margin: 0;
      margin-left: 0;
      display: flex;
      flex-direction: row; }
    .ourwork__row {
      display: flex;
      flex-direction: column; }
    .ourwork__img {
      object-fit: cover;
      background-size: cover;
      background-position: center; }
    .ourwork_column {
      display: flex;
      flex-direction: row; }
  .clients {
    min-height: 100%;
    margin: 0;
    margin-left: 0;
    margin-top: 3rem; }
    .clients__container-logos {
      display: flex;
      flex-direction: row;
      margin: 0;
      margin-left: 0;
      flex-wrap: wrap;
      margin-top: 1rem; }
    .clients__row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
    .clients__border {
      display: flex;
      flex-direction: row;
      width: 100%; }
  .talk {
    margin: 0;
    margin-left: 0;
    margin-top: 12rem; }
    .talk__container {
      display: flex; }
    .talk__row {
      display: flex;
      flex-direction: column; }
    .talk__column1 {
      display: flex;
      flex-direction: column;
      flex: 1; }
    .talk__column2 {
      display: flex;
      flex-direction: column;
      flex: 1; } }
