*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}



.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/dream-pulse-header.jpg);
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    z-index: -1;
    background-attachment: fixed;

    &__nav{
        z-index: 100;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
        width: 26%;
        height: 100vh;
        position: fixed;
    }

    &__active{
        background-color: white;
        width: 10%;
        color: white;
    }

    &__nav-text{
        border: 1px solid white;
        width: 60%;
        height: 18%;
        margin-left: 5rem;
        margin-top: 2rem;
    }

    &__nav-h1{
        line-height: 80px;
        margin-top: 15px;
        margin-left: 0.5rem;
        color: white;
        border: 1px solid white;
        height: 100%;
        width: 16rem;
        font-size: 2rem;
        text-align: center;
    }

    &__nav-nav {
        margin: 6rem 6rem;
    }

    &__nav-ul {
        list-style: none;
        text-align: center;
    }

    &__nav-li{
        margin-top: 1rem;
    }

    &__nav-link{
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
    }

    &__nav-link:hover{
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
    }

    &__nav-icon{
        color: white;
        margin-top:1rem;
        margin-left: 2.5rem;
    }

    &__text-container{
        background: linear-gradient(rgba(241, 240, 240, 0.5), rgba(247, 247, 247, 0.5));
        width: 35%;
        height: 50%;
        float: right;
        margin: 3rem 3rem;
        text-align: center;
        border: 1px solid whitesmoke;
        
    }

    &__row{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }

    &__row2{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__row-h1{
        margin: 3rem auto;
        color: blue;
        text-align: center;
    }

    &__row2-p{
        color: black;
        text-align: center;
        margin: 1rem auto;
    }

}

.main{
    height: 50vh;

    &__container{
        margin-left: 27.9rem;
        flex-wrap: wrap;
        display: flex;
        margin-top: 8rem;
        justify-content: flex-end;
        float: right;
        height: 100%;
    }

    &__row{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    &__column1{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: right;
        flex:1;
        margin: auto 3rem;
    }

    &__column2{
        flex-wrap: wrap;
        display:flex;
        flex-direction: column;
        text-align: left;
        flex: 1;
        width: 100%;
        justify-content: right;
        margin: auto 3rem;
    }

    &__h1{
        margin-top:4rem;
        color: cornflowerblue;
    }

    &__p{
        margin-top:4rem;
        color: grey;
    }

    &__p2 {
        margin-top: 3rem;
        color: grey;
    }

    &__icon {
        color: blue;
    }

}

.ourwork {
    height: 70vh;
    margin-top: 25rem;
    border: 1px solid rgb(194, 191, 191);
    margin-left: 27.9rem;
    margin-right: 1rem;

    &__h1 {
        text-align: center;
        justify-content: center;
    }

    &__container{
        display: flex;
        margin-top: 0.5rem;
        justify-content: center;
        margin-left: 0.5rem;
        height: 97%;
        flex-direction: column;
        border: 1px solid rgb(194, 191, 191);
        width: 98%;
        flex-wrap: wrap;
    }

    &__row{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    &__column{
        display: flex;
        flex-direction: column;
        margin: 1rem 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__dot{
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
        float: left;
        text-align: center;
        justify-content: center;
        margin-left: 5rem;
    }
}

.clients{
    height: 70vh;
    margin-top:5rem;
    margin-left: 27.9rem;
    margin-right: 1rem;

    &__container-text{
        margin-left: 1rem;
        
    }

    &__h1{
        margin-bottom: 3rem;
    }

    &__container-logos{
        margin-top: 4.5rem;
        justify-content: center;
        height: 90%;
        width: 98%;
       
    }

    &__row{
        display: flex;
        flex-direction: row;
        margin-top:1rem;
        
    }


    &__border{
        border: 1px solid rgb(194, 191, 191);
        width: 25%;
        margin-left:1rem;
    }

    &__logo{
        margin: 2rem 1rem;
        

        line-height: 50%;
    }
}

.talk{
    height: 70vh;
    margin-top:5rem;
    margin-left: 27.9rem;
    margin-right: 1rem;

    &__row{
        display:flex;
        flex-direction: row;
        
    }

    &__column1 {
        display:flex;
        flex-direction: column;
        flex: 3;
        margin-left:1rem;
        
    }

    &__texts{
        border: 1px solid rgb(194, 191, 191);
        display: flex;
        justify-content: center;
        justify-self: center;
        margin: 2rem 1rem;
    }

    &__h1{
        font-size:1.2rem;
    }

    &__border{
        border: 1px solid rgb(194, 191, 191);
        width: 97%;
        height: 96%;
        margin-top:5px;
    }

    &__column2 {
        display:flex;
        flex-direction: column;
        flex: 2;
        margin-left: 3rem;
        flex-wrap: wrap;
    }

    &__input{
        border-style: none;
        border-bottom: 1px solid grey;
    }

    &__textarea{
        border-style:none;
        border-bottom: 1px solid grey;
    }

    &__submit{
        border-style: none;
        border-bottom: 1px solid grey;
        float: center;
    }
}


@media screen and (max-width:1000px){
    .header{
        width: 100%;
        display:flex;
        flex-direction: column;


        &__nav{
            display: none;
        }

        &__nav-nav{
            display:none;
        }

        &__text-container{
            background: linear-gradient(rgba(241, 240, 240, 0.5), rgba(247, 247, 247, 0.5));
            width: 35%;
            height: 50%;
            text-align: center;
            border: 1px solid whitesmoke;

        }

        &__nav-text{
            margin:0;
        }

        &__nav{
            display:none;
        }
    }

    .main {
        margin: 0;
        display:flex;
        flex-direction:column;
        margin-top:35rem;
        
    &__container{
        flex-wrap: wrap;
        display: flex;
        margin-top: 8rem;
        flex-direction: column;
        height: 100%;
        margin-left:0;
        width: 100%;
        }

    &__row{
        display:flex;
        flex-direction: column;
    }
    }

    .ourwork{
        height: 160vh;
        margin:0;
        margin-left:0;
        margin-top:20rem;

        &__container{
        
        margin: 0;
        margin-left: 0;
        display:flex;
        flex-direction:column;
        }

        &__row{
            display:flex;
            flex-direction:column;
        }

        &__img{
            object-fit: cover;
            background-size: cover;
            background-position: center;
        }

        &_column{
            display:flex;
            flex-direction:row;
        }
    }

    .clients{
        
        margin:0;
        margin-left:0;
        margin-top:3rem;

        &__container-logos{
            display:flex;
            flex-direction:row;
            margin:0;
            margin-left:0;
            flex-wrap:wrap;
        }

        &__row{
            display:flex;
            flex-direction:column;
            flex-wrap: wrap;
        }

        &__border{
            display:flex;
            flex-direction:row;
            width: 100%;

        }
        
    }

    .talk{
        margin:0;
        margin-left:0;
        margin-top:20rem;
    

    &__container{
        display:flex;
    }

    &__row{
        display: flex;
        flex-direction: column;
    }

    &__column1{
        display:flex;
        flex-direction: column;
        flex:1;
    }

    &__column2{
        display:flex;
        flex-direction: column;
        flex:1;
        }
    }
}

